{% extends "index.html" %}
{% block content %}
<style>
	.toBeReplaced span {
		display: none;
	}

	.toBeReplaced:after {
		content: "Администрирование";
	}

	.adminpanel h1,
	p {
		color: yellow;
		
	}
	td {
		color: #ffffff;
	}

	input, select {
		-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	background-color: #333;
	color: #ffffff;
	margin-top: 20px;
	padding: 3px;
	border-radius: 5%;
	margin-right: 5px;
	}

	#submit{
		color: #000000;
		background-color: #ffe600;
		font-weight: 550;
		padding: 5px;
	}

	.content-bg {
min-height: 90%;
	}
</style>
<div class=adminpanel>
	<h1> Администрирование базы данных </h1>
	<br>
	<p>Дизайны</p>
	<table id="demo" border="1" cellpadding="7" cellspacing="0">
		<tr class="demo" bgcolor="#eeeeee">
			<td>ID</td>
			<td>Название</td>
			<td>Описание</td>
			<td>Цена</td>
			<td>Этажи</td>
			<td>Площадь</td>
			<td>Материал</td>
		</tr>
		{% for u in table %}
		<tr bgcolor="#333">
			<td>{{ u.id }}</td>
			<td>{{ u.title }}</td>
			<td>{{ u.description }}</td>
			<td>{{ u.price }}</td>
			<td>{{ u.floor_count }}</td>
			<td>{{ u.area_size }}</td>
			<td>{{ u.wall_material }}</td>
		</tr>
		{% endfor %}
	</table>

	<br>
	<p>Управление таблицей</p>

	<p>Вставка/Изменение/Удаление</p>
	<form method="POST" action="{{ url_for('adminfilms') }}">
		{{ form.hidden_tag() }}
		{{ form.id }}
		{{ form.title }}
		{{ form.description }}
		{{ form.price }}
		{{ form.floor_count }}
		{{ form.area_size }}
		{{ form.material }}
		{{ form.select }}
		{{ form.submit }}
	</form>

</div>
{% endblock %}