{% extends "index.html" %}
{% block content %}
<style>
	.toBeReplaced span {
		display: none;
	}

	.toBeReplaced:after {
		content: "Администрирование";
	}

	.adminpanel h1,p {
		color: yellow;
	}
</style>
<div class=adminpanel>
	<h1> Администрирование базы данных </h1>
	<br>
	<p>Пользователи</p>
	<table id="demo" border="1" cellpadding="7" cellspacing="0">
		<tr bgcolor="#eeeeee">
			<td>ID</td>
			<td>Имя пользователя</td>
			<td>Пароль</td>
			<td>Имя</td>
			<td>Фамилия</td>
			<td>Телефон</td>
			<td>Тип аккаунта</td>
		</tr>
		{% for u in table %}
		<tr bgcolor="white">
			<td>{{ u.id }}</td>
			<td>{{ u.username }}</td>
			<td>{{ u.password }}</td>
			<td>{{ u.first_name }}</td>
			<td>{{ u.last_name }}</td>
			<td>{{ u.phone_number }}</td>
			<td>{{ u.account_type }}</td>
		</tr>
		{% endfor %}
	</table>

	<br>
	<p>Управление таблицей</p>

	<p>Вставка/Изменение/Удаление</p>
	<form method="POST" action="{{ url_for('adminusers') }}">
		{{ form.hidden_tag() }}
		{{ form.id }}
		{{ form.username }}
		{{ form.password }}
		{{ form.first_name }}
		{{ form.last_name }}
		{{ form.phone_number }}
		{{ form.account_type }}
		{{ form.select }}
		{{ form.submit }}
	</form>

</div>
{% endblock %}