::-webkit-scrollbar {
	width: 0;
}


body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	display: flex;
}


.logo {
	width: 360px;
	height: 300px;
	cursor: pointer;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.24);
}

.logoind {
	width: 100px;
	width: 100px;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.24);
	margin-bottom: -33px;
}

.errors {
	background-color: red;
}

a {
	width: 0;
	height: 0;
}

.headnav {
	margin-bottom: 20px;
}

.errors ul li {
	list-style: none;
	margin: 0 20px;
}

.profile-pic {
	width: 100px;
	height: 100px;
}

.container {
	width: 80%;
	padding: 20px;

}

table {
    border-collapse: collapse; /* Remove default table border spacing */
}

td, th {
    padding: 10px; /* Adjust padding as needed */
}

.entry {
	margin: 0 250px;
	/* Ширина колонок */
	padding: 30px;
}

.nav {
	float: left;
	max-width: 200px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	border-radius: 5px;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
}

header h1 {
	margin: 0;
	padding: 0;
	text-align: center;
}

nav ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

nav ul li {
	display: inline;
	padding: 0 15px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.24);
	border-radius: 5px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	background-color: #232323;
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;
}

.profile {
	margin-bottom: 30px;
}

.profile-info {
	display: flex;
	align-items: center;
}

.profile-info img {
	border-radius: 50%;
	margin-right: 20px;
}


.edit-button {
	padding: 10px 20px;
	background-color: #fffb00;
	color: #000000;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.edit-button:hover {
	background-color: #0056b3;
}

.projects {
	margin-top: 20px;
}

.project-list {
	display: flex;
	flex-wrap: wrap;
}

.project-item {
	background-color: #e0e0e0;
	padding: 20px;
	border-radius: 5px;
	margin: 10px;
	height: 500px;
	width: 400px;
	background-color: #242424;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
}

.project-item h3 {
	margin-top: 0;
}

.view-button {
	display: inline-block;
	margin-top: 50px;
	padding-top: 5px;
	background-color: yellow;
	color: #000000;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	width: 140px;
	height: 30px;
	font-weight: bold;
	text-indent: 0;
}

.view-button:hover {
	background-color: yellow;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-top: auto;
	bottom: 0;
	width: 100%;
	color: #fff024;
}

section {
	margin-bottom: 50px;
	margin-top: 25px;

}

.content-bg {
	background-color: #121212;
	padding: 20px;
}

main {
	background-color: #232323
}

.nonestyle {
	text-decoration: none;
	color: #ffffff;
}

.calculation,
.modal {
	width: 500px;
	height: 500px;
	background-color: #242424;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	border-radius: 5px;
}

#calculationtitle {
	font-size: 20px;
	padding: 30px;
	padding-bottom: 10px;
}

#descriptioncalc {
	padding-top: 0;
	padding-left: 20px;
}

.forminput {
	margin-left: 10px;
}

#demo {
	margin-left: 5px;
}

#first {
	margin: 25px;
	margin-bottom: 12px;
}

#second {
	margin: 25px;
	margin-bottom: 12px;
}

#third {
	margin: 25px;
	margin-bottom: 12px;
}

.fill {
	margin-top: 20px;
	width: 25px;
	height: 25px;
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 10px;
	transition: 0.25s;
	overflow: visible;
	border-color: #fff024;
	/* Цвет текста кнопки */
	border-radius: 50%;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	color: yellow;
}

.fill.active {
	background-color: #fff024;
	/* Цвет фона кнопки при нажатии */
}

.fill:hover {
	background-color: #fff024;
	/* Цвет фона кнопки при наведении */
}

.fill2 {
	color: yellow;
	margin-top: 20px;
	width: 25px;
	height: 25px;
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 10px;
	transition: 0.25s;
	overflow: visible;
	border-color: #fff024;
	/* Цвет текста кнопки */
	border-radius: 50%;

}

.fill2.active {
	background-color: #fff024;
	/* Цвет фона кнопки при нажатии */
}

.fill2:hover {
	background-color: #fff024;
	/* Цвет фона кнопки при наведении */
}


.calculation {
	position: relative;
	text-align: center;
}

.calculation .submit {
	position: absolute;
	bottom: 20px;
	/* Вы можете настроить это значение по вашему усмотрению */
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffd700;
	/* Желтый цвет */
	color: #000;
	/* Черный цвет текста */
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
}

.calculation .submit:hover {
	background-color: #ffcc00;
	/* Изменение цвета фона при наведении */
}

.slider1 {
	margin-top: 20px;
	-webkit-appearance: none;
	width: 60%;
	height: 15px;
	border-radius: 5px;
	background: #141414;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider1::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff024;
	cursor: pointer;
}

.slider1::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.slider {
	width: 360px;
	height: 300px;
	overflow: hidden;
}

.middle {
	transform: translate(-0%, -0%);
	
}

.navigations {
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.bar {
	height: 8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	background-color: #ffe600;
	opacity: .5;
	border-radius: 10px;
	transition: all .4 ease;

}

.bar:hover {
	opacity: 0.8;
	transform: scale((1.1));
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}

.slides {
	width: 400%;
	height: 100%;
	display: flex;
}

.slide {
	width: 25%;
	transition: all .6s ease;

}

.slide img {
	width: 100%;
	height: 100%;
}

.r1.checked ~ .s0 {
	margin-left: 0;
}

.r2.checked ~ .s0 {
	margin-left: -25%;
	transform: translateX(-50%);
}

.r3.checked ~ .s0 {
	margin-left: -50%;
}

.r4.checked ~ .s0 {
	margin-left: -75%;
}

.navhref {
	margin: 10px;
}

.navhref a {
	color: yellow;
}

.nav h3 {
	margin: 10px;
}

.blogpost {
	padding: 30px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	border-radius: 5px;
}



.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	z-index: 10;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 200ms ease-in-out;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}
