{% extends "index.html" %}
{% block content %}
<style>
	.toBeReplaced span {
		display: none;
	}

	.toBeReplaced:after {
		content: "Блог";
	}

	input, select, textarea {
		-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.62);
	background-color: #333;
	color: #ffffff;
	
	padding: 3px;
	border-radius: 5%;
	margin-right: 5px;
	width: 200px;
	height: 60px;
	}
	#text{
		margin: 0;
		display: block;
		margin: 20px;
		margin-left: 0;

		padding: 0;
	}
	#submit {
		width: 100px;
		height: 40px;
		background-color: yellow;
		color: #000;
		font-weight: bold;
	}



</style>
<main>
	<div class="container">
		<section class="designs">
			<h2>Блог</h2>
			<style>
				h2 {
					color: yellow;
				}
			</style>
			<p>Новая запись</p>
			<form method="POST" action="{{ url_for('blog') }}">
				{{ form.hidden_tag() }}
				{{ form.title }}
				{{ form.text }}
				{{ form.submit }}
			</form>
			<br>
			<div class="nav">
				<h3>Навигация</h3>
				{% for entry in entries %}
				<div class="navhref">
					<a class="nonestyle" href="#entry{{entry.id}}">{{ entry.title }}</a><br>
				</div>
				{% endfor %}
			</div>
			<div class="entry">
				{% for entry in entries %}
				<div class="blogpost" id="entry{{entry.id}}">
					<h2>{{ entry.title }}</h2><br>
					<p>{{ entry.text }}</p>
					<style>
						p {
							padding: 10px;
							padding-left: 0;
						}
					</style>
					<div class="image-slider">
						{% for image_path in entry.images %}
						<img src="{{ image_path }}" alt="Фото" class="image">
						{% endfor %}
					</div>
					<p>Автор: {{ entry.author }} - {{ entry.creation_date }}</p>
				</div>
				{% endfor %}
			</div>
		</section>
	</div>
</main>
{% endblock %}