{% extends "index.html" %}
{% block content %}
<style>
	.toBeReplaced span {
		display: none;
	}

	.toBeReplaced:after {
		content: "Каталог";
	}
</style>
<main>
	<div class="container">
		<section class="designs">
			<h2>Дизайн</h2>
			<div class="design-item">
				<div class="image-slider">
					{% for image_path in design.images %}
					<img src="{{ image_path }}" alt="Дизайн" class="image">
					{% endfor %}
				</div>
				<div class="details">
					<h3>{{ design.title }}</h3>
					<p>{{ design.description }}</p>
					<ul>
						<li>Количество этажей - {{ design.floor_count }}</li>
						<li>Жилая площадь - {{ design.area_size }}</li>
						<li>Материал для стен - {{ design.wall_material }}</li>
					</ul>
					<p>Цена: {{ design.price }} рублей</p>
				</div>
			</div>
		</section>
	</div>
</main>
<script src="{{ url_for('static', filename='scripts/itc-slider.js') }}"></script>
{% endblock %}