{% extends "index.html" %}
{% block content %}
<style>
	.toBeReplaced span {
		display: none;
	}

	.toBeReplaced:after {
		content: "Каталог";
	}
	h2 {
		color: yellow;
	}
</style>
<main>
	<div class="container">
		<section class="designs">
			<h2>Наши дизайны</h2>

			{% for design in designs %}
			<div class="design-item">
				<div class="slider middle">
					<div class="slides">
						{% for image_path in design.images %}
						<input type="radio" name="r" id="r{{ design.id }}{{ design.images.index(image_path) }}" class="r{{ design.images.index(image_path) }}">
						<div class="slide s{{ design.images.index(image_path) }}"><img src="{{ image_path }}" alt="" ></div>
						{% endfor %}
					</div>
					<div class="navigations">
						{% for image_path in design.images %}
						<label for="r{{ design.id }}{{ design.images.index(image_path) }}" class="bar"></label>
						{% endfor %}
					</div>
				</div>
				<div class="details">
					<h3><a class="nonestyle" href="/design/{{ design.id }}">{{ design.title }}</a></h3>
					<p>{{ design.description }}</p>
					<p>Цена: {{ design.price }} рублей</p>
				</div>
			</div>
			{% endfor %}
		</section>
	</div>
</main>
<script>"{{ url_for('static', filename='scripts/slider.js') }}"</script>
{% endblock %}