{% extends "index.html" %}
{% block content %}
<style>
	.toBeReplaced span {
		display: none;
	}

	.toBeReplaced:after {
		content: "Главная страница";
	}
</style>

<main>
	<div class="container">
		<section class="welcome">
			<h2>Добро пожаловать!</h2>
			<p>Мы специализируемся на строительстве частных домов, предлагая комплексные решения от проектирования до
				отделки.</p>
		</section>
		<br>
		<section class="about">
			<h2>О нас</h2>
			<p>Наша компания имеет более 10 лет опыта в строительстве частных домов. Мы гарантируем высокое качество
				работ и использование лучших материалов.</p>
		</section>
		<br>
		<h2>Избранные проекты</h2>
		<section class="project-list">
			{% for design in designs %}
			<div class="project-item">
				<div class="slider middle">
					<div class="slides">
						{% for image_path in design.images %}
						<input type="radio" name="r" id="r{{ design.id }}{{ design.images.index(image_path) }}" class="r{{ design.images.index(image_path) }}">
						<div class="slide s{{ design.images.index(image_path) }}"><img src="{{ image_path }}" alt="" ></div>
						{% endfor %}
					</div>
					<div class="navigations">
						{% for image_path in design.images %}
						<label for="r{{ design.id }}{{ design.images.index(image_path) }}" class="bar"></label>
						{% endfor %}
					</div>
				</div>
				<h3><a class="nonestyle" href="/design/{{ design.id }}">{{ design.title }}</a></h3>
				<style>
					h3 {
						padding-top: 10px;
						padding-bottom: 5px;
					}
				</style>
				<p>{{ design.description }}</p>
			</div>
			{% endfor %}
		</section>

	




		<br>
		<section class="calculation">
			<h1 id="calculationtitle">Калькулятор примерной стоимости дома</h1>
			<div id="descriptioncalc">Выберите площадь, количество этажей, дизайн дома из предложенных и получите
				примерную
				стоимость! </div>
			<div class="forminput" id="first">
				<div>1.Выберите площадь:<span id="demo"></span> м²</div>
				<div class="slidecontainer">
					<input type="range" min="60" max="250" value="50" class="slider1" id="myRange1">
				</div>
			</div>
			<div class="forminput" id="second">2.Выберите кол-во этажей:
				<div>
					<button class="fill">1</button>
					<button class="fill">2</button>
					<button class="fill">3</button>
				</div>
			</div>
			<div class="forminput" id="third">3.Выберите номер дизайна:
				<div>
					{% for design in designs %}
						<button class="fill2">{{ design.id }}</button>
					{% endfor %}
				</div>
			</div>
			<script>
				const buttons1 = document.querySelectorAll('#second .fill');
				buttons1.forEach(button => {
					button.addEventListener('click', () => {
						buttons1.forEach(btn => {
							btn.classList.remove('active');
						});
						button.classList.add('active');
					});
				});

				const buttons2 = document.querySelectorAll('#third .fill2');
				buttons2.forEach(button => {
					button.addEventListener('click', () => {
						buttons2.forEach(btn => {
							btn.classList.remove('active');
						});
						button.classList.add('active');
					});
				});
			</script>
			<button data-modal-target="#modal" class="submit" id="calc">Посчитать</button>
			<script>

			</script>
		</section>
		<section class="advantages">
			<script>
				var slider = document.getElementById("myRange1");
				var output = document.getElementById("demo");
				output.innerHTML = slider.value;

				slider.oninput = function () {
					output.innerHTML = this.value;
				}
			</script>
			<h2>Наши преимущества</h2>
			<ul>
				<li>Опыт более 10 лет</li>
				<li>Высококвалифицированные специалисты</li>
				<li>Использование качественных материалов</li>
				<li>Индивидуальный подход к каждому клиенту</li>
			</ul>
		</section>
		<br>
		<section class="contact">
			<h2>Контакты</h2>
			<p>Телефон: +7 (123) 456-78-90</p>
			<p>Email: info@construction.com</p>
			<p>Адрес: ул. Строителей, д. 10, г. Москва</p>
		</section>

		<div class="modal" id="modal">
			<div class="modal-header">
				<h1 id="calculationtitle">Результат подсчета: </h1>
			</div>
			<br>
			<div class="modal-body" id="modal-body">
				<div id="modal-info"></div>
				<br>
				<h1 id="total-sum"></h1>
			</div>
		</div>
		<div id="overlay"></div>
	</div>
</main>
<script src="{{ url_for('static', filename='scripts/calculate.js') }}"></script>
{% endblock %}