<!DOCTYPE html>
<html>

<head>
	<title> domOVOy </title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesd.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
</head>
<style>
	head {
		background-color: #232323;
	}
</style>
<header>
	<div class="container">
		<h1>
			<p class="toBeReplaced"><span>
					Главная страница
				</span></p>
		</h1>
		<nav>
			<ul>
				<li class="logoind"><a href=" /"><img src="{{ url_for('static', filename='logostroi.png') }}" class="logoind"></a>
				</li>
				<li><a href="/">Главная</a></li>
				<li><a href="/catalogue">Каталог</a></li>
				<li><a href="/blog">Блог</a></li>
				{% if current_user.is_authenticated %}
				{% if current_user.account_type == 'Manager' %}
				<li><a href="/admin/designs">Дизайны</a></li>
				<li><a href="/admin/documents">Документы</a></li>
				{% endif %}
				<li><a href="/profile">Личный Кабинет</a></li>
				<li><a href="/logout">Выйти</a></li>
				{% else %}
				<li><a href="/login">Войти</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>

<body>
	<div class="content-bg">
		<div class="content">
			<div class="errors">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
			</div>
			<div class="cont">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
<footer>
	<div class="container">
		<p>&copy; 2024 Строительство частных домов. Все права защищены.</p>
	</div>
</footer>

</html>