{% extends "index.html" %}
{% block content %}
<style>
	.toBeReplaced span {
		display: none;
	}

	.toBeReplaced:after {
		content: "Вход";
	}

	h1 {
		color: yellow;
		margin-bottom: 15px;
	}
	a {
		color: yellow;
	}

	form {
		padding: 10px;
		margin-bottom: 5px;
	}

	input {
		margin-bottom: 5px;
		padding: 3px;
	}

	#submit {
		background-color: yellow;
	}
</style>
    <div class = adminpanel>
        <h1>Войти в аккаунт</h1>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }} <br>
            {{ form.password }} <br>
            {{ form.submit }}
        </form>

        <a href="/register">Создать новый аккаунт</a>
    </div>
{% endblock %}